<%= stylesheet_link_tag "home", :media => "all" %>
<div id="top">
  <div class="content">
    <div class="text">
      <%= @data.content %>
    </div>
    <div class="person">
      <%= @data.name %>
    </div>
  </div>
</div>