<%= stylesheet_link_tag "posts", :media => "all" %>
<div id="new">
  <div class="content content-style text-vertical">
    <div class="bg">
      <div class="msg placeMsg" contenteditable="true" onFocus="clearText('msg');" onblur="setPlaceholder('msg');"></div>
      <div class="person placePsn" contenteditable="true" onFocus="clearText('psn');" onblur="setPlaceholder('psn');"></div>
    </div>
  </div>
  <button class="btn button-black-white" onclick="this.disabled = true; newRegist();">登録</button>
</div>