<%= stylesheet_link_tag "posts", :media => "all" %>
<div id="new" class="edit">
  <div class="content">
    <div class="msg placeMsg" contenteditable="true" onFocus="clearMsg();" onblur="checkMsg();"></div>
    <div class="person placePsn" contenteditable="true" onFocus="clearPsn();" onblur="checkPsn();"></div>
  </div>
  <button class="btn" onclick="this.disabled = true; newRegist();">登録</button>
</div>